# == MinIO
# optional: Set a publicly accessible domain name to manage the content stored in Outline
DOCKER_MINIO_IMAGE_NAME=minio/minio:RELEASE.2021-09-03T03-56-13Z
DOCKER_MINIO_HOSTNAME=file.lab.com
DOCKER_MINIO_ADMIN_DOMAIN=file-admin.lab.com
MINIO_BROWSER=on
MINIO_BROWSER_REDIRECT_URL=https://${DOCKER_MINIO_ADMIN_DOMAIN}
# Select `Lowercase a-z and numbers` and 16-bit string length https://onlinerandomtools.com/generate-random-string
MINIO_ROOT_USER=6m2lx2ffmbr9ikod
# Select `Lowercase a-z and numbers` and 64-bit string length https://onlinerandomtools.com/generate-random-string
MINIO_ROOT_PASSWORD=2k78fpraq7rs5xlrti5p6cvb767a691h3jqi47ihbu75cx23twkzpok86sf1aw1e
MINIO_REGION_NAME=cn-homelab-1



# == SSO Server
# more options, @see docs https://github.com/soulteary/docker-sso-server 
DOCKER_SSO_IMAGE_NAME=soulteary/sso-server:1.1.5
DOCKER_SSO_HOSTNAME=sso-server
SSO_SERVER_NAME=SELF-HOSTED SSO
SSO_CLIENT_NAME=My SSO Service
# You can use online tools to regenerate: https://www.uuidgenerator.net/
SSO_CLIENT_ID=b8c40013-cc03-4bc5-b3a5-6a31046fa415
SSO_CLIENT_SECRET=26272010-37d9-4bea-a58e-6b0a382d7626 
SSO_USER_PASS=password
SSO_CLIENT_ISTRUSTED=false
SSO_SERVER_DOMAIN=sso.lab.com



# == Postgres DB
DOCKER_POSTGRES_IMAGE_NAME=postgres:13.3
DOCKER_POSTGRES_HOST=outline-postgres
DOCKER_POSTGRES_DBNAME=outline
DOCKER_POSTGRES_USER=outline
DOCKER_POSTGRES_PASS=qTj5kwUEetmN



# == Redis Cache
DOCKER_REDIS_IMAGE_NAME=redis:6.2.4
DOCKER_REDIS_HOSTNAME=outline-redis



# == Attachment
DOCKER_ATTACHMENT_IMAGE_NAME=andreimarcu/linx-server:version-2.3.8
DOCKER_ATTACHMENT_HOSTNAME=attachment.lab.com
# Execute in the CLI `htpasswd -nb user pass`
DOCKER_ATTACHMENT_BASIC_AUTH=user:$apr1$8wC8avYf$Nhn0oTAvNjdw8FPROokGN.



# == Outline
# Notice: Wait for the official release of this version of the mirror, please replace the docker image name
DOCKER_OUTLINE_IMAGE_NAME=soulteary/outline:0.58.3
DOCKER_OUTLINE_HOSTNAME=docs.lab.com
OUTLINE_URL=https://${DOCKER_OUTLINE_HOSTNAME}
# outline tricks: use part of the mailbox in the account
OIDC_ALLOWED_DOMAINS=company.ltd
OIDC_DISPLAY_NAME=MySSO
OIDC_CLIENT_ID=${SSO_CLIENT_ID}
OIDC_CLIENT_SECRET=${SSO_CLIENT_SECRET}
OIDC_AUTH_URI=https://${SSO_SERVER_DOMAIN}/dialog/authorize
OIDC_TOKEN_URI=http://${DOCKER_SSO_HOSTNAME}/oauth/token
OIDC_USERINFO_URI=http://${DOCKER_SSO_HOSTNAME}/api/outline/oidc
# Outline S3 Settings
AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}
AWS_REGION=${MINIO_REGION_NAME}
AWS_S3_UPLOAD_BUCKET_URL=https://${DOCKER_MINIO_HOSTNAME}
AWS_S3_UPLOAD_BUCKET_NAME=outline
AWS_S3_UPLOAD_MAX_SIZE=26214400
AWS_S3_FORCE_PATH_STYLE=true
AWS_S3_ACL=private
DATABASE_URL=postgres://${DOCKER_POSTGRES_USER}:${DOCKER_POSTGRES_PASS}@${DOCKER_POSTGRES_HOST}:5432/${DOCKER_POSTGRES_DBNAME}
PGSSLMODE=disable
REDIS_URL=redis://${DOCKER_REDIS_HOSTNAME}:6379
# `openssl rand -hex 32`
OUTLINE_SECRET_KEY=64074328631d7ce618f554694ff7e83e820b9f7e14b13e4317893fed18e0b3c3
OUTLINE_UTILS_SECRET=04d7572e983ee6adfd77f8c77b61be8236a9e459fc9c1b7032ec278345638bcc